<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX" version="3.3.12.0" targetFramework="Native" />
  <package id="boost" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_atomic-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_chrono-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_date_time-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_log_setup-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_log-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_regex-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_system-vc120" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_thread-vc120" version="1.61.0.0" targetFramework="Native" />
</packages>